<div style="font-family: Arial, Helvetica, sans-serif; width: 600px; font-size: 12px; line-height: 18px">

 <div style="padding: 20px 20px 0;">
  <a style="text-decoration: none; color: #fff;" href="http://notewave.com">
   <div style="font-size: 16px; border: 1px solid #ccc; padding: 50px 10px 10px 10px; background: #3189eb; font-weight: lighter;" href="http://notewave.com">notewave</div>
  </a>
 </div>
  
 <div style="padding: 0px 20px 0;">
  {% block content %}{% endblock %}
 </div>

 <div style="border-top: 1px solid #ccc; padding-top: 10px">
  <div style="padding: 0 20px">
   <a style="color: #19558d" href="http://notewave.com">Notewave</a> is the place to share everything. 
  </div>
 </div>

</div>
