<div class="quick">
 <div class="number">1</div>
 <div class="pull">
  <h3>Create a group... or 2... or 10...</h3>
  <p>For your fraternity or family, wedding or bachelor party, BFFs or Club, or any reason.</p>
</div>
<div class="quick">
 <div class="number">2</div>
 <div class="pull">
  <h3>Invite friends</h3>
  <p>All conversations are private. Invite only. Safe from the parents, boss, or those pesky stalkers.</p>
 </div>
</div>
<div class="quick">
 <div class="number">3</div>
 <div class="pull">
  <h3>Start the conversation</h3>
  <p>Post about anything... office talk, small talk, pillow talk... it's private.</p>
 </div>
</div>
